*{
    margin: 0px;
    padding: 0px;
}

header{
    display: flex;
    justify-content: center;
    background-color: #D4DFFF;
    width: auto;
    align-items: center;
   height: 100px;
}






.sect-one{
    display: flex;
    margin-top: 100px;
    padding: 0px 400px;
  
}



.maininfo p{
    font-size: 40px;
    font-style: oblique ;
    text-transform:uppercase ;
    padding-bottom: 76px;
}

.maininfo{
    width: 500px;
}






nav.imginfo img{
    border: 1px solid black;
    width: 80%;
    
}

.sect-two{
   
    margin-top: 100px;
  padding-bottom: 400px;
   width:auto;
    height:300px ;
}


.buttom {
    display: flex;
    justify-content: center;
  align-items: center;
   background-color: #D4DFFF;
   width:300px ;
   height:50px ;
   border-radius: 10px;
   margin-left: 50px;
   margin-top: 20px;
}

.buttom a{
    text-decoration: none; 
    color: black;
    text-transform:uppercase ;
}


.on {
display: flex;
justify-content: center;
}

.to{
    display: flex;
justify-content: center;
}

.sect-three{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    height: 400px;
}


span{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

span h1{
font-size: 50px;
 text-transform:uppercase ;
}

.sect-specificationstwo{
    margin-left: 55px;
}

.sect-three section{
    font-size: 20px;
}


.sect-four{
    display: flex;
    justify-content: center;
}

.sect-four img{
    width:200px ;
    height: 200px;
}


.sect-table .button-on{
  margin-left: 50px;
  margin-top: 10px;
width: 100px;
height:30px ;
}


.sect-table{
    width: 200px;
    height: 270px;
     border: 1px solid black;
    margin-right: 20PX;
}

.sect-table p {
display: flex;
    justify-content: center;
}

.sect-four{
    margin-top: 100px;
    height: 400px;
}

.backbutt img{
    width:50px ;
    height: 50px;
}

.backbutt a{
    margin-left:97%;
    
}
.backbutt {
    margin: 0px;
    padding: 0px;
}










  